<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{ title|default:"Swagger" }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if favicon_href %}
        <link rel="icon" href="{{ favicon_href }}">{% endif %}
    <link rel="stylesheet" href="{{ dist }}/swagger-ui.css">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <style>
        html {
            box-sizing: border-box;
            overflow-y: scroll;
        }

        *, *:after, *:before
            box-sizing: inherit;
        }

        body {
            background: #fafafa;
            margin: 0;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid row justify-content-between">
        <a class="navbar-brand col">Swagger Migration control</a>

        <div class="navbar-item col-2">
            <label for="services">Choose service: </label>
            <select class="form-control" name="services" id="services">
                {% for service in services %}
                    <option value="{{ service }}">{{ service }}</option>
                {% endfor %}
            </select>
        </div>

    </div>
</nav>

<div id="swagger-ui"></div>
<script src="{{ dist }}/swagger-ui-bundle.js"></script>
<script src="{{ dist }}/swagger-ui-standalone-preset.js"></script>
{% if script_url %}
    <script src="{{ script_url }}"></script>
{% else %}
    <script>
        {% include template_name_js %}
    </script>
{% endif %}
<script>
    let url = new URL(document.location.href)
    let value = url.searchParams.get('service')
    if (!value) {
        value = 'Migration control Account'
    }
    document.getElementById('services').querySelector(`[value="${value}"]`).setAttribute('selected', 'true')

    document.getElementById('services').addEventListener('change', (e) => {
        let url = new URL(document.location.href)
        url.searchParams.set('service', e.target.value);
        document.location.href = url.href
    })
</script>
</body>
</html>